.places {
  margin-top: 92px;
  max-width: 984px;
  margin: 0 auto 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1198px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .places {
    max-width: 720px;
  }
}
