.header {
  width: calc(100% - 48px * 2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 984px) {
  .header {
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 16px * 2);
  }
}
