.intro {
  /* display: flex;
  flex-direction: column;
  padding: 92px 0 0;
  margin: 0 auto;
  max-width: 690px;
  align-self: flex-start; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: start;
  align-content: flex-start;
  align-items: start;
  flex-wrap: nowrap;
  min-width: 984px;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .intro{
    min-width: 690px;
    min-width: 928px;
  }
}

@media screen and (max-width: 985px) {
  .intro{
    min-width: 720px;
  }
}

@media screen and (max-width: 637px) {
  .intro{
    min-width: 288px;
  }
}